### Question 1
What's the version of NumPy that you installed?

In [2]:
import numpy as np

np.__version__

'1.17.0'

### Question 2
What's the version of Pandas?

In [3]:
import pandas as pd

pd.__version__

'1.2.3'

### Get the dataset

In [55]:
# get the data
df = pd.read_csv("data.csv")
# print the head of the dataset
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

### Question 3
What's the average price of BMW cars in the dataset?

In [12]:
df.loc[df.Make == 'BMW'].mean()

Year                 2014.347305
Engine HP             326.907186
Engine Cylinders        5.958084
Number of Doors         3.161677
highway MPG            29.245509
city mpg               20.739521
Popularity           3916.000000
MSRP                61546.763473
dtype: float64

### Question 4 
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [16]:
df.loc[df.Year >= 2015]['Engine HP'].isna().sum()

51

### Question 5 
* Calculate the average "Engine HP" in the dataset.
* Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
* Now, calcualte the average of "Engine HP" again.
* Has it changed?

In [58]:
# get the value of average Engine HP
av_engine_hp = df['Engine HP'].mean()
print(round(av_engine_hp))
# fill in with average engine hp 
print(round(df['Engine HP'].fillna(av_engine_hp).mean()))

249
249

### Question 6
* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it X.
* Compute matrix-matrix multiplication between the transpose of X and X. * To get the transpose, use X.T. Let's call the result XTX.
* Invert XTX.
* What's the sum of all the elements of the result?

In [78]:
# get a subdataset as requested
col = ['Engine HP', 'Engine Cylinders', 'highway MPG']
df_rr = df.loc[df['Make'] == "Rolls-Royce"][col]
df_rr.drop_duplicates(inplace=True)
# save values in a matryx
X = df_rr.values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

0.032212320677486195

### Question 7
* Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
* Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
* What's the value of the first element of w?.

In [82]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = XTX_inv.dot(X.T).dot(y)
w[0]

0.19989598183186175